<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDisplayName</key>
    <string>Fluux Messenger</string>
    <key>NSCameraUsageDescription</key>
    <string>Fluux needs camera access to take a photo for your avatar.</string>
    <key>UIApplicationSceneManifest</key>
    <dict>
        <key>UIApplicationSupportsMultipleScenes</key>
        <true/>
        <key>UISceneConfigurations</key>
        <dict>
            <key>UIWindowSceneSessionRoleApplication</key>
            <array>
                <dict>
                    <key>UISceneConfigurationName</key>
                    <string>TaoScene</string>
                    <key>UISceneDelegateClassName</key>
                    <string>TaoSceneDelegate</string>
                </dict>
            </array>
        </dict>
    </dict>
</dict>
</plist>
